@model xiaotao.Models.xt_student

@{
   ViewBag.Title = "Setting";
}

@section Styles{
   <link href="~/Content/account.css" rel="stylesheet" />
   <link href="~/Tools/crop-avatar/css/cropper.min.css" rel="stylesheet">
   <link href="~/Tools/crop-avatar/css/main.css" rel="stylesheet">
   <style>
      .tab-content{
         padding:20px 0;
      }
      .setting .tab-link{
         margin:-10px -30px 20px -30px;
         border-bottom:solid 2px #eee;
         padding-left:30px;
         padding-bottom:10px;
      }
      .setting .tab-link a{
         display:inline-block;
         margin-right:20px;
         color:#333;
      }
      .setting .tab-link a.active{
         font-weight:bold;
      }
   </style>
}

<div class="setting">
   @Html.Partial("./LeftNav")
   <div class="right-wrap">
      <div class="head-title">
         <div class="txt">个人资料</div>
      </div>
      <div class="main-wrap">
         <!-- Nav tabs -->
         <div class="tab-link">
            <a href="/mall/account/setting">基本资料</a>
            <a href="/mall/account/avatar" class="active">我的头像</a>
         </div>
         <!-- Tab panes -->
         <div id="crop-avatar">
            <!-- Cropping modal -->
            <div id="avatar-modal">
               @using (Html.BeginForm(Html.BeginForm("avatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data",@class="avatar-form" })))
               {
                  @Html.AntiForgeryToken()
                  <div class="avatar-body">
                     <!-- Upload image and data -->
                     <div class="avatar-upload">
                        <input class="avatar-src" name="avatar_src" type="hidden">
                        <input class="avatar-data" name="avatar_data" type="hidden">
                        <label for="avatarInput">本地上传</label>
                        <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                     </div>
                     <!-- Crop and preview -->
                     <div class="row">
                        <div class="col-md-9">
                           <div class="avatar-wrapper"></div>
                        </div>
                        <div class="col-md-3">
                           <div class="avatar-preview preview-lg"></div>
                           <div class="avatar-preview preview-md"></div>
                           <div class="avatar-preview preview-sm"></div>
                        </div>
                     </div>
                     <div class="row avatar-btns">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                           <button class="btn btn-primary btn-block avatar-save" type="submit">上传图片</button>
                        </div>
                     </div>
                  </div>
               }
            </div>
            <!-- Loading state -->
            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
         </div>
      </div>
   </div>
</div>

@section Scripts{
   <script src="~/Tools/crop-avatar/js/cropper.min.js"></script>
   <script src="~/Tools/crop-avatar/js/main.js"></script>
}
