@model xiaotao.Models.xt_student
@{
   Layout = null;
}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>用户登录 - 校淘网</title>
   <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
   <link href="~/Content/single.css" rel="stylesheet" />
   <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
   <header>
      <div class="container clearfix">
         <div class="logo">
            <h1>
               <a href="/">
                  <img src="~/Images/logo_xt.png" alt="Alternate Text" />
               </a>
            </h1>
         </div>
         <div class="action">登录</div>
      </div>
   </header>
   <section class="wrap-login">
      <div class="container clearfix">
         <div class="login-form">
            <h2>账号登录</h2>
            @Html.ValidationMessage("error")
            @using (Html.BeginForm())
            {
               @Html.AntiForgeryToken()
               <div class="input-items">
                  <div class="input-group">
                     <label for="user"><i class="fa fa-user"></i></label>
                     <input id="user" name="user" type="text" placeholder="Email/学号" required />
                  </div>
                  <div class="input-group">
                     <label for="pwd"><i class="fa fa-lock"></i></label>
                     <input id="pwd" name="pwd" type="password" value="" required />
                  </div>
                  <div class="link clearfix">
                     <a class="pull-left" href="#">忘记登录密码</a>
                     <a class="pull-right" href="/mall/account/signup">去注册</a>
                  </div>
                  <div class="button-group">
                     <button type="submit">立即登录</button>
                  </div>
               </div>
            }
         </div>
      </div>
   </section>
   <footer class="container">
      <p style="margin-top:20px;">&copy; @DateTime.Now.Year - <a href="/">校淘网</a>xiaotao.com 版权所有</p>
   </footer>
   <script src="~/Scripts/bootstrap.min.js"></script>
   <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   <script src="~/Scripts/jquery.validate.min.js"></script>
   <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>